version: "3.9"

services:
  api:
    build: ./backend
    container_name: keychainhub_api
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: keychainhub_redis
    ports:
      - "6379:6379"
